<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/PhotoSharingStyles.css"/>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/jquery-ui.min.js" type="text/javascript">

    </script>
</head>
<body>
    <div>
         <h1 class="site-page-title" >Thanigaivel Photo Sharing Application</h1>
        <div class="clear-floats" />
        <div id="topmenu">
            @Html.MvcSiteMap().Menu(false, true, true)
        </div>
        <div id="breadcrumb">
          Current Location: @Html.MvcSiteMap().SiteMapPath()
            @if(Session["Favorites"] != null)
            {
                <div id="favorites-link">
                    @Html.ActionLink("Favorite Photos", "FavoriteSlideShow", "Photo")
                </div>
            }
        </div>
        <div>@RenderBody()</div>
    </div>
</body>
</html>
